# Data Prep Kit Demo 1 - Ray Version

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/sujee/granite-code-cookbook/blob/recipe/data-prep-kit-intro/recipes/Data-Prep-Kit/dpk_intro_1_ray.ipynb)


This notebook will introduce DPK and showcase some of it's capabilities.

Here is the workflow

![](https://raw.githubusercontent.com/sujee/granite-code-cookbook/recipe/data-prep-kit-intro/recipes/Data-Prep-Kit/media/data-prep-kit-3-workflow.png)

References
- [Data prep kit](https://ibm.github.io/data-prep-kit)  is an open source framework that helps with data wrangling.
- [github repo](https://github.com/IBM/data-prep-kit)

## How to run this notebook

Two options:

- **Option 1 - Google Colab:** easiest option.  no setup required.  Click this link to open this on google colab.  [![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/sujee/granite-code-cookbook/blob/recipe/data-prep-kit-intro/recipes/Data-Prep-Kit/dpk_intro_1_ray.ipynb)
- **Option 2 - Local python dev environment:**  Setup using this guide: [setting up python dev environment](setup-python-dev-env.md)

The notebook will work as in both environments

## Step-1: Inspect the Data

We will use simple PDFs about Solar system.  The files are [here](https://github.com/sujee/granite-code-cookbook/blob/recipe/data-prep-kit-intro/recipes/Data-Prep-Kit/data/solar-system)

- [earth.pdf](https://github.com/sujee/granite-code-cookbook/blob/recipe/data-prep-kit-intro/recipes/Data-Prep-Kit/data/solar-system/earth.pdf)
- [mars.pdf](https://github.com/sujee/granite-code-cookbook/blob/recipe/data-prep-kit-intro/recipes/Data-Prep-Kit/data/solar-system/mars.pdf)

These PDF files are created from markdown files using the following command

```bash
pandoc  earth.md  -o earth.pdf
pandoc  mars.md  -o mars.pdf
```

## Step-2: Figure out Runtime Environment

### 2.1 - Determine runtime

Determine if we are running on Google colab or local python environment

In [1]:
import os

if os.getenv("COLAB_RELEASE_TAG"):
   print("Running in Colab")
   RUNNING_IN_COLAB = True
else:
   print("NOT in Colab")
   RUNNING_IN_COLAB = False

NOT in Colab

### 2.2 -Download Data if running on Google Colab

In [2]:
if RUNNING_IN_COLAB:
    !mkdir -p 'input'
    !wget -O 'input/earth.pdf'  'https://raw.githubusercontent.com/sujee/granite-code-cookbook/recipe/data-prep-kit-intro/recipes/Data-Prep-Kit/data/solar-system/earth.pdf'
    !wget -O 'input/mars.pdf'  'https://raw.githubusercontent.com/sujee/granite-code-cookbook/recipe/data-prep-kit-intro/recipes/Data-Prep-Kit/data/solar-system/mars.pdf'
    !wget -O 'utils.py'  'https://raw.githubusercontent.com/sujee/granite-code-cookbook/recipe/data-prep-kit-intro/utils.py'

### 2.3 - Install dependencies if running on Google Colab

In [3]:
if RUNNING_IN_COLAB:
    ! pip install  --default-timeout=100  \
        data-prep-toolkit-transforms-ray==0.2.1.dev3 \
        deepsearch-toolkit

### 2.4 - Restart Runtime

After installing dependencies, be sure <font color="red">restart runtime</font>, so libraries will be loaded

You do this by going to **`Runtime --> Restart Session`**

Then you can continue to the next step (no need to re-run the notebook)

## Step-2: Configuration

### 2.1 - Basic Config

In [4]:
import os

if os.getenv("COLAB_RELEASE_TAG"):
   print("Running in Colab")
   RUNNING_IN_COLAB = True
else:
   print("NOT in Colab")
   RUNNING_IN_COLAB = False

NOT in Colab

In [5]:
import os

## Configuration
class MyConfig:
    pass

MY_CONFIG = MyConfig ()

MY_CONFIG.INPUT_DATA_DIR = 'data/solar-system'
MY_CONFIG.OUTPUT_FOLDER = "output"
MY_CONFIG.OUTPUT_FOLDER_FINAL = os.path.join(MY_CONFIG.OUTPUT_FOLDER , "output_final")

## Embedding model
MY_CONFIG.EMBEDDING_MODEL = 'sentence-transformers/all-MiniLM-L6-v2'

## RAY CONFIGURATION
### For local runs, we can use more parallelism
### For google colab, be conservative

if RUNNING_IN_COLAB:
  MY_CONFIG.RAY_RUNTIME_WORKERS = 2
  MY_CONFIG.RAY_NUM_CPUS =  0.3
  MY_CONFIG.RAY_MEMORY_GB = 2  # GB
else:  # local run
  num_cpus_available =  os.cpu_count()
  # print (num_cpus_available)
  MY_CONFIG.RAY_NUM_CPUS =  1
  MY_CONFIG.RAY_MEMORY_GB = 2  # GB
  # MY_CONFIG.RAY_RUNTIME_WORKERS = num_cpus_available // 3
  MY_CONFIG.RAY_RUNTIME_WORKERS = 2

print ('MY_CONFIG.RAY_RUNTIME_WORKERS:', MY_CONFIG.RAY_RUNTIME_WORKERS)
print ('MY_CONFIG.RAY_NUM_CPUS:', MY_CONFIG.RAY_NUM_CPUS)
print ('MY_CONFIG.RAY_MEMORY_GB:', MY_CONFIG.RAY_MEMORY_GB)

MY_CONFIG.RAY_RUNTIME_WORKERS: 2
MY_CONFIG.RAY_NUM_CPUS: 1
MY_CONFIG.RAY_MEMORY_GB: 2

In [6]:
## Add parent dir to path
import os,sys

this_dir = os.path.abspath('')
parent_dir = os.path.dirname(this_dir)
sys.path.append (os.path.abspath (parent_dir))

### 2.2 - Setup input/outpur directories

In [7]:
import os, sys
import shutil

if not os.path.exists(MY_CONFIG.INPUT_DATA_DIR ):
    raise Exception (f"âŒ Input folder MY_CONFIG.INPUT_DATA_DIR = '{MY_CONFIG.INPUT_DATA_DIR}' not found")

output_parquet_dir = os.path.join (MY_CONFIG.OUTPUT_FOLDER, '01_parquet_out')
output_chunk_dir = os.path.join (MY_CONFIG.OUTPUT_FOLDER, '02_chunk_out')
output_docid_dir = os.path.join (MY_CONFIG.OUTPUT_FOLDER, '03_docid_out')
output_exact_dedupe_dir = os.path.join (MY_CONFIG.OUTPUT_FOLDER, '04_exact_dedupe_out')
output_fuzzy_dedupe_dir = os.path.join (MY_CONFIG.OUTPUT_FOLDER, '05_fuzzy_dedupe_out')
output_embeddings_dir = os.path.join (MY_CONFIG.OUTPUT_FOLDER, '06_embeddings_out')

## clear output folder
shutil.rmtree(MY_CONFIG.OUTPUT_FOLDER, ignore_errors=True)
shutil.os.makedirs(MY_CONFIG.OUTPUT_FOLDER, exist_ok=True)

print ("âœ… Cleared output directory")

âœ… Cleared output directory

## Step-3: pdf2parquet -  Convert data from PDF to Parquet

This step is reading the input folder containing all PDF files and ingest them in a parquet table using the [Docling package](https://github.com/DS4SD/docling).
The documents are converted into a JSON format which allows to easily chunk it in the later steps.

### 3.1 - Set Input/output Folder

In [8]:
STAGE = 1

input_folder = MY_CONFIG.INPUT_DATA_DIR
output_folder =  output_parquet_dir

print (f"ðŸƒðŸ¼ STAGE-{STAGE}: Processing input='{input_folder}' --> output='{output_folder}'")

ðŸƒðŸ¼ STAGE-1: Processing input='data/solar-system' --> output='output/01_parquet_out'

### 3.2 - Execute

In [9]:
%%time

import ast
import os
import sys

from pdf2parquet_transform import (
    pdf2parquet_contents_type_cli_param,
    pdf2parquet_contents_types,
)
from data_processing_ray.runtime.ray import RayTransformLauncher
from pdf2parquet_transform_python import Pdf2ParquetPythonTransformConfiguration
from pdf2parquet_transform_ray import Pdf2ParquetRayTransformConfiguration

from data_processing.utils import GB, ParamsUtils


# create parameters
local_conf = {
    "input_folder": input_folder,
    "output_folder": output_folder,
}
worker_options = {"num_cpus" : MY_CONFIG.RAY_NUM_CPUS, "memory": MY_CONFIG.RAY_MEMORY_GB * GB}
ingest_config = {
    pdf2parquet_contents_type_cli_param: pdf2parquet_contents_types.JSON,
}

params = {
    # where to run
    "run_locally": True,
    # Data access. Only required parameters are specified
    "data_local_config": ParamsUtils.convert_to_ast(local_conf),
    "data_files_to_use": ast.literal_eval("['.pdf']"),
    # orchestrator
    "runtime_worker_options": ParamsUtils.convert_to_ast(worker_options),
    "runtime_num_workers": MY_CONFIG.RAY_RUNTIME_WORKERS,
}


sys.argv = ParamsUtils.dict_to_req(d=(params | ingest_config))
# create launcher
launcher = RayTransformLauncher(Pdf2ParquetRayTransformConfiguration())
# launcher = PythonTransformLauncher(Pdf2ParquetPythonTransformConfiguration())
# launch
return_code = launcher.launch()

if return_code == 0:
    print (f"âœ… Stage:{STAGE} completed successfully")
else:
    raise Exception ("âŒ Ray job failed")

23:14:11 INFO - Running locally
23:14:11 INFO - pdf2parquet parameters are : {'artifacts_path': None, 'contents_type': <pdf2parquet_contents_types.JSON: 'application/json'>, 'do_table_structure': True, 'do_ocr': True, 'double_precision': 8}
23:14:11 INFO - data factory data_ is using local data access: input_folder - data/solar-system output_folder - output/01_parquet_out
23:14:11 INFO - data factory data_ max_files -1, n_sample -1
23:14:11 INFO - data factory data_ Not using data sets, checkpointing False, max files -1, random samples -1, files to use ['.pdf'], files to checkpoint ['.parquet']
23:14:11 INFO - pipeline id pipeline_id
23:14:11 INFO - code location None
23:14:11 INFO - number of workers 2 worker options {'num_cpus': 1, 'memory': 2147483648, 'max_restarts': -1}
23:14:11 INFO - actor creation delay 0
23:14:11 INFO - job details {'job category': 'preprocessing', 'job name': 'pdf2parquet', 'job type': 'ray', 'job id': 'job_id'}
2024-09-25 23:14:13,596	INFO worker.py:1744 -- Started a local Ray instance. View the dashboard at http://127.0.0.1:8265
(orchestrate pid=812961) 23:14:17 INFO - orchestrator started at 2024-09-25 23:14:17
(orchestrate pid=812961) 23:14:17 INFO - Number of files is 2, source profile {'max_file_size': 0.055823326110839844, 'min_file_size': 0.0551910400390625, 'total_file_size': 0.11101436614990234}
(orchestrate pid=812961) 23:14:17 INFO - Cluster resources: {'cpus': 16, 'gpus': 1, 'memory': 9.530387878417969, 'object_store': 4.765193939208984}
(orchestrate pid=812961) 23:14:17 INFO - Number of workers - 2 with {'num_cpus': 1, 'memory': 2147483648, 'max_restarts': -1} each
(orchestrate pid=812961) 23:14:17 INFO - Completed 0 files (0.0%)  in 0.0 min. Waiting for completion
(RayTransformFileProcessor pid=813849) 23:14:20 INFO - Initializing models
Fetching 9 files: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 9/9 [00:00<00:00, 168521.14it/s]
(RayTransformFileProcessor pid=813849) Neither CUDA nor MPS are available - defaulting to CPU. Note: This module is much faster with a GPU.
(orchestrate pid=812961) 23:14:25 INFO - Completed processing 2 files in 0.138 min
(orchestrate pid=812961) 23:14:25 INFO - done flushing in 0.001 sec
(RayTransformFileProcessor pid=813850) 23:14:20 INFO - Initializing models
23:14:35 INFO - Completed execution in 0.396 min, execution result 0
Fetching 9 files: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 9/9 [00:00<00:00, 89664.46it/s]
(RayTransformFileProcessor pid=813850) Neither CUDA nor MPS are available - defaulting to CPU. Note: This module is much faster with a GPU.

âœ… Stage:1 completed successfully
CPU times: user 4.15 s, sys: 1.12 s, total: 5.27 s
Wall time: 28.2 s

### 3.3 - Inspect Generated output

Here we should see one entry per input file processed.

In [10]:
from utils import read_parquet_files_as_df

output_df = read_parquet_files_as_df(output_folder)

print ("Output dimensions (rows x columns)= ", output_df.shape)

output_df.head(5)

## To display certain columns
#parquet_df[['column1', 'column2', 'column3']].head(5)

Output dimensions (rows x columns)=  (2, 12)

,filename,contents,num_pages,num_tables,num_doc_elements,document_id,ext,hash,size,date_acquired,pdf_convert_time,source_filename
0,mars.pdf,"{""_name"":"""",""type"":""pdf-document"",""description...",1,0,11,38534584-f81e-48a9-a3bb-e82633092b37,pdf,8edd5dfbf888777120b528a5d8998f2757d006df0eaef7...,2800,2024-09-25T23:14:25.456154,1.914529,mars.pdf
1,earth.pdf,"{""_name"":"""",""type"":""pdf-document"",""description...",1,0,11,76eb51a9-4002-467a-8f41-e17416289c17,pdf,18713f970989055625bef22209b6f4b6830b9ca22046bf...,2686,2024-09-25T23:14:25.396695,1.983063,earth.pdf


### 3.4 - Understand the output

Here are some interesting attributes to note:

- **filename** : original filename
- **contents** : text
- **document_id**: unique id (UUID) assignd to this document
- **hash** : hash of document
- **pdf_convert_time** : time to convert this pdf in seconds

Let's inspect the **contents** column.  See how the text is being divided up!

In [11]:
import pprint
import json

pprint.pprint (json.loads(output_df.iloc[0, ]['contents']))
# json.loads(output_df.iloc[0, ]['contents'])

{'_name': '',
 'description': {'logs': []},
 'equations': [],
 'figures': [],
 'file-info': {'#-pages': 1,
               'document-hash': '1a83f43f3a202e3f203c1263e36961ecc45d401aad488f638fc5559a584333b2',
               'filename': 'mars.pdf',
               'page-hashes': [{'hash': '551fe7a9bde2a9302f150c0a79a13fcc0868fcf73ac6afb80be645c1174734a0',
                                'model': 'default',
                                'page': 1}]},
 'footnotes': [],
 'main-text': [{'name': 'Section-header',
                'prov': [{'bbox': [133.35137939,
                                   654.45184326,
                                   169.88169861,
                                   667.98492432],
                          'page': 1,
                          'span': [0, 4]}],
                'text': 'Mars',
                'type': 'subtitle-level-1'},
               {'name': 'Section-header',
                'prov': [{'bbox': [133.09541321,
                                   630.68127441,
                                   210.66503906,
                                   642.34405518],
                          'page': 1,
                          'span': [0, 12]}],
                'text': 'Solar System',
                'type': 'subtitle-level-1'},
               {'name': 'Text',
                'prov': [{'bbox': [132.84518433,
                                   588.96014404,
                                   479.40917969,
                                   623.02520752],
                          'page': 1,
                          'span': [0, 205]}],
                'text': 'Our solar system is a vast and fascinating expanse, '
                        'comprising eight planets, five dwarf planets, '
                        'numerous moons, asteroids, comets, and other '
                        'celestial bodies. At its center lies the star we call '
                        'the Sun.',
                'type': 'paragraph'},
               {'name': 'Text',
                'prov': [{'bbox': [133.18510437,
                                   570.83258057,
                                   374.99838257,
                                   581.07043457],
                          'page': 1,
                          'span': [0, 54]}],
                'text': 'For more details about the Solar system see Chapter '
                        '1.',
                'type': 'paragraph'},
               {'name': 'Section-header',
                'prov': [{'bbox': [133.22866821,
                                   542.98168945,
                                   163.86282349,
                                   554.45288086],
                          'page': 1,
                          'span': [0, 4]}],
                'text': 'Mars',
                'type': 'subtitle-level-1'},
               {'name': 'Text',
                'prov': [{'bbox': [132.87440491,
                                   500.84011841,
                                   477.48345947,
                                   534.55810547],
                          'page': 1,
                          'span': [0, 196]}],
                'text': 'Mars, the fourth planet from the Sun, is a cold, '
                        'desert world with a thin atmosphere composed '
                        'primarily of carbon dioxide. Its reddish hue comes '
                        'from iron oxide, or rust, prevalent on its surface.',
                'type': 'paragraph'},
               {'name': 'Section-header',
                'prov': [{'bbox': [133.2026062,
                                   482.90710449,
                                   237.04431152,
                                   493.07443237],
                          'page': 1,
                          'span': [0, 23]}],
                'text': 'Basic facts about Mars:',
                'type': 'subtitle-level-1'},
               {'name': 'List-item',
                'prov': [{'bbox': [145.94500732,
                                   453.019104,
                                   477.48171997,
                                   474.9703064],
                          'page': 1,
                          'span': [0, 78]}],
                'text': 'Â· Distance from the Sun: Average of 228 million '
                        'kilometers (142 million miles)',
                'type': 'paragraph'},
               {'name': 'List-item',
                'prov': [{'bbox': [145.94500732,
                                   440.79351807,
                                   431.73287964,
                                   451.2142334],
                          'page': 1,
                          'span': [0, 64]}],
                'text': 'Â· Rotation Period: 24.6 hours (one Martian day - '
                        'called a "sol")',
                'type': 'paragraph'},
               {'name': 'List-item',
                'prov': [{'bbox': [145.94500732,
                                   429.10913086,
                                   365.9559021,
                                   438.83737183],
                          'page': 1,
                          'span': [0, 44]}],
                'text': 'Â· Moons: Two small moons, Phobos and Deimos.',
                'type': 'paragraph'},
               {'name': 'Page-footer',
                'prov': [{'bbox': [303.13299561,
                                   87.20314026,
                                   308.11428833,
                                   96.51646423],
                          'page': 1,
                          'span': [0, 1]}],
                'text': '1',
                'type': 'page-footer'}],
 'page-dimensions': [{'height': 792.0, 'page': 1, 'width': 612.0}],
 'page-footers': [],
 'page-headers': [],
 'tables': [],
 'type': 'pdf-document'}

In [12]:
pprint.pprint (json.loads(output_df.iloc[1, ]['contents']))

{'_name': '',
 'description': {'logs': []},
 'equations': [],
 'figures': [],
 'file-info': {'#-pages': 1,
               'document-hash': '7401ae81637dbb89e7040dcd5945bbfb75ff8648bb761c69f8a1595e86538748',
               'filename': 'earth.pdf',
               'page-hashes': [{'hash': 'ca802e4bd5a3301792808caea2a47db51f0520888875b77fc230c99ee851c19b',
                                'model': 'default',
                                'page': 1}]},
 'footnotes': [],
 'main-text': [{'name': 'Section-header',
                'prov': [{'bbox': [133.30961609,
                                   654.45184326,
                                   174.04208374,
                                   667.93347168],
                          'page': 1,
                          'span': [0, 5]}],
                'text': 'Earth',
                'type': 'subtitle-level-1'},
               {'name': 'Section-header',
                'prov': [{'bbox': [133.12528992,
                                   630.69073486,
                                   210.66503906,
                                   642.27935791],
                          'page': 1,
                          'span': [0, 12]}],
                'text': 'Solar System',
                'type': 'subtitle-level-1'},
               {'name': 'Text',
                'prov': [{'bbox': [132.87112427,
                                   588.96014404,
                                   479.40917969,
                                   623.04595947],
                          'page': 1,
                          'span': [0, 205]}],
                'text': 'Our solar system is a vast and fascinating expanse, '
                        'comprising eight planets, five dwarf planets, '
                        'numerous moons, asteroids, comets, and other '
                        'celestial bodies. At its center lies the star we call '
                        'the Sun.',
                'type': 'paragraph'},
               {'name': 'Text',
                'prov': [{'bbox': [133.20942688,
                                   570.81555176,
                                   375.57919312,
                                   581.08459473],
                          'page': 1,
                          'span': [0, 54]}],
                'text': 'For more details about our Solar system see Chapter '
                        '1.',
                'type': 'paragraph'},
               {'name': 'Section-header',
                'prov': [{'bbox': [133.15542603,
                                   542.98168945,
                                   167.32983398,
                                   554.36669922],
                          'page': 1,
                          'span': [0, 5]}],
                'text': 'Earth',
                'type': 'subtitle-level-1'},
               {'name': 'Text',
                'prov': [{'bbox': [132.91053772,
                                   512.46295166,
                                   477.84887695,
                                   534.48431396],
                          'page': 1,
                          'span': [0, 107]}],
                'text': "Earth is the third planet from the Sun. It's our home "
                        'planet. Earth is the only place we know of with life.',
                'type': 'paragraph'},
               {'name': 'Text',
                'prov': [{'bbox': [133.30151367,
                                   494.86206055,
                                   240.17156982,
                                   505.07229614],
                          'page': 1,
                          'span': [0, 24]}],
                'text': 'Basic facts about Earth:',
                'type': 'paragraph'},
               {'name': 'List-item',
                'prov': [{'bbox': [145.94500732,
                                   464.97409058,
                                   477.47979736,
                                   487.02810669],
                          'page': 1,
                          'span': [0, 79]}],
                'text': 'Â· Distance from the Sun: Average of 149.6 million '
                        'kilometers (93 million miles)',
                'type': 'paragraph'},
               {'name': 'List-item',
                'prov': [{'bbox': [145.94500732,
                                   452.86901855,
                                   317.90722656,
                                   463.24041748],
                          'page': 1,
                          'span': [0, 37]}],
                'text': 'Â· Rotation Period: 24 hours (one day)',
                'type': 'paragraph'},
               {'name': 'List-item',
                'prov': [{'bbox': [145.94500732,
                                   440.71496582,
                                   396.66357422,
                                   451.19915771],
                          'page': 1,
                          'span': [0, 52]}],
                'text': 'Â· Moons: One moon, called Luna or simply "the Moon".',
                'type': 'paragraph'},
               {'name': 'Page-footer',
                'prov': [{'bbox': [303.13299561,
                                   87.20314026,
                                   308.11428833,
                                   96.53633118],
                          'page': 1,
                          'span': [0, 1]}],
                'text': '1',
                'type': 'page-footer'}],
 'page-dimensions': [{'height': 792.0, 'page': 1, 'width': 612.0}],
 'page-footers': [],
 'page-headers': [],
 'tables': [],
 'type': 'pdf-document'}

##  Step-4: Doc chunks

In the previous step, we have extracted text from oru PDFs.  But we have the content of entire file as 'one row' in our parquet output.

In this step, we are going to split the documents in chunks, according to their layout segmentation.

This transform uses [Quackling](https://github.com/DS4SD/quackling) `HierarchicalChunker`
to chunk according to the document layout segmentation, i.e. respecting the original document components as paragraphs, tables, enumerations, etc.
It relies on documents converted with the Docling library in the [pdf2parquet transform](https://github.com/IBM/data-prep-kit/blob/dev/transforms/language/pdf2parquet/python/README.md) using the option `contents_type: "application/json"`,
which provides the required JSON structure.

### 4.1 - Set Input/output Folder

In [13]:
STAGE = 2

input_folder = output_parquet_dir # previous output folder is the input folder for the current stage
output_folder =  output_chunk_dir

input_df = read_parquet_files_as_df(input_folder)  ## for debug purposes

print (f"ðŸƒðŸ¼ STAGE-{STAGE}: Processing input='{input_folder}' --> output='{output_folder}'")

ðŸƒðŸ¼ STAGE-2: Processing input='output/01_parquet_out' --> output='output/02_chunk_out'

### 4.2 - Execute

In [14]:
%%time

from data_processing_ray.runtime.ray import RayTransformLauncher
from doc_chunk_transform_ray import DocChunkRayTransformConfiguration


# Prepare the commandline params
local_conf = {
    "input_folder": input_folder,
    "output_folder": output_folder,
}
worker_options = {"num_cpus" : MY_CONFIG.RAY_NUM_CPUS}
params = {
    # where to run
    "run_locally": True,
    # Data access. Only required parameters are specified
    "data_local_config": ParamsUtils.convert_to_ast(local_conf),
    # orchestrator
    "runtime_worker_options": ParamsUtils.convert_to_ast(worker_options),
    "runtime_num_workers": MY_CONFIG.RAY_RUNTIME_WORKERS,
    # doc_chunk arguments
    # ...
}

# Pass the commandline params
sys.argv = ParamsUtils.dict_to_req(d=params)

# create launcher
launcher = RayTransformLauncher(DocChunkRayTransformConfiguration())
# launch
return_code = launcher.launch()

if return_code == 0:
    print (f"âœ… Stage:{STAGE} completed successfully")
else:
    raise Exception ("âŒ Ray job failed")

23:14:38 INFO - Running locally
23:14:38 INFO - doc_chunk parameters are : {'chunking_type': <chunking_types.DL_JSON: 'dl_json'>, 'content_column_name': 'contents', 'output_chunk_column_name': 'contents', 'output_jsonpath_column_name': 'doc_jsonpath', 'output_pageno_column_name': 'page_number', 'output_bbox_column_name': 'bbox'}
23:14:38 INFO - data factory data_ is using local data access: input_folder - output/01_parquet_out output_folder - output/02_chunk_out
23:14:38 INFO - data factory data_ max_files -1, n_sample -1
23:14:38 INFO - data factory data_ Not using data sets, checkpointing False, max files -1, random samples -1, files to use ['.parquet'], files to checkpoint ['.parquet']
23:14:38 INFO - pipeline id pipeline_id
23:14:38 INFO - code location None
23:14:38 INFO - number of workers 2 worker options {'num_cpus': 1, 'max_restarts': -1}
23:14:38 INFO - actor creation delay 0
23:14:38 INFO - job details {'job category': 'preprocessing', 'job name': 'doc_chunk', 'job type': 'ray', 'job id': 'job_id'}
2024-09-25 23:14:39,835	INFO worker.py:1744 -- Started a local Ray instance. View the dashboard at http://127.0.0.1:8265
(orchestrate pid=814753) 23:14:42 INFO - orchestrator started at 2024-09-25 23:14:42
(orchestrate pid=814753) 23:14:42 INFO - Number of files is 2, source profile {'max_file_size': 0.02239513397216797, 'min_file_size': 0.02167987823486328, 'total_file_size': 0.04407501220703125}
(orchestrate pid=814753) 23:14:42 INFO - Cluster resources: {'cpus': 16, 'gpus': 1, 'memory': 9.529300689697266, 'object_store': 4.764650344848633}
(orchestrate pid=814753) 23:14:42 INFO - Number of workers - 2 with {'num_cpus': 1, 'max_restarts': -1} each
(orchestrate pid=814753) 23:14:42 INFO - Completed 0 files (0.0%)  in 0.0 min. Waiting for completion
(orchestrate pid=814753) 23:14:44 INFO - Completed processing 2 files in 0.031 min
(orchestrate pid=814753) 23:14:44 INFO - done flushing in 0.001 sec
23:14:54 INFO - Completed execution in 0.266 min, execution result 0

âœ… Stage:2 completed successfully
CPU times: user 891 ms, sys: 257 ms, total: 1.15 s
Wall time: 18.1 s

### 4.3 - Inspect Generated output

We would see documents are split into many chunks

In [15]:
from utils import read_parquet_files_as_df

output_df = read_parquet_files_as_df(output_folder)

print (f"Files processed : {input_df.shape[0]:,}")
print (f"Chunks created : {output_df.shape[0]:,}")

print ("Input data dimensions (rows x columns)= ", input_df.shape)
print ("Output data dimensions (rows x columns)= ", output_df.shape)

output_df.head(10)

Files processed : 2
Chunks created : 8
Input data dimensions (rows x columns)=  (2, 12)
Output data dimensions (rows x columns)=  (8, 15)

,filename,num_pages,num_tables,num_doc_elements,document_id,ext,hash,size,date_acquired,pdf_convert_time,source_filename,contents,doc_jsonpath,page_number,bbox
0,mars.pdf,1,0,11,38534584-f81e-48a9-a3bb-e82633092b37,pdf,8edd5dfbf888777120b528a5d8998f2757d006df0eaef7...,2800,2024-09-25T23:14:25.456154,1.914529,mars.pdf,Solar System\nOur solar system is a vast and f...,$.main-text[2],1,"[132.84518433, 588.96014404, 479.40917969, 623..."
1,mars.pdf,1,0,11,38534584-f81e-48a9-a3bb-e82633092b37,pdf,8edd5dfbf888777120b528a5d8998f2757d006df0eaef7...,2800,2024-09-25T23:14:25.456154,1.914529,mars.pdf,Solar System\nFor more details about the Solar...,$.main-text[3],1,"[133.18510437, 570.83258057, 374.99838257, 581..."
2,mars.pdf,1,0,11,38534584-f81e-48a9-a3bb-e82633092b37,pdf,8edd5dfbf888777120b528a5d8998f2757d006df0eaef7...,2800,2024-09-25T23:14:25.456154,1.914529,mars.pdf,"Mars\nMars, the fourth planet from the Sun, is...",$.main-text[5],1,"[132.87440491, 500.84011841, 477.48345947, 534..."
3,mars.pdf,1,0,11,38534584-f81e-48a9-a3bb-e82633092b37,pdf,8edd5dfbf888777120b528a5d8998f2757d006df0eaef7...,2800,2024-09-25T23:14:25.456154,1.914529,mars.pdf,Basic facts about Mars:\nÂ· Distance from the S...,$.main-text[6],1,"[133.2026062, 482.90710449, 237.04431152, 493...."
4,earth.pdf,1,0,11,76eb51a9-4002-467a-8f41-e17416289c17,pdf,18713f970989055625bef22209b6f4b6830b9ca22046bf...,2686,2024-09-25T23:14:25.396695,1.983063,earth.pdf,Solar System\nOur solar system is a vast and f...,$.main-text[2],1,"[132.87112427, 588.96014404, 479.40917969, 623..."
5,earth.pdf,1,0,11,76eb51a9-4002-467a-8f41-e17416289c17,pdf,18713f970989055625bef22209b6f4b6830b9ca22046bf...,2686,2024-09-25T23:14:25.396695,1.983063,earth.pdf,Solar System\nFor more details about our Solar...,$.main-text[3],1,"[133.20942688, 570.81555176, 375.57919312, 581..."
6,earth.pdf,1,0,11,76eb51a9-4002-467a-8f41-e17416289c17,pdf,18713f970989055625bef22209b6f4b6830b9ca22046bf...,2686,2024-09-25T23:14:25.396695,1.983063,earth.pdf,Earth\nEarth is the third planet from the Sun....,$.main-text[5],1,"[132.91053772, 512.46295166, 477.84887695, 534..."
7,earth.pdf,1,0,11,76eb51a9-4002-467a-8f41-e17416289c17,pdf,18713f970989055625bef22209b6f4b6830b9ca22046bf...,2686,2024-09-25T23:14:25.396695,1.983063,earth.pdf,Earth\nBasic facts about Earth:\nÂ· Distance fr...,$.main-text[6],1,"[133.30151367, 494.86206055, 240.17156982, 505..."

### 4.4 - Understanding the Output

Here we see 2 PDF files are split into 6 chunks.  Basically we see the documents are being split along 'natural boundaris' - paragraphs and bullet points

See how **document_id** is carried throughout.  This helps us identify original documents.

Also note **contents** is now plain text (not JSON as before)

In [16]:
output_df[['filename', 'contents']]

    filename                                           contents
0   mars.pdf  Solar System\nOur solar system is a vast and f...
1   mars.pdf  Solar System\nFor more details about the Solar...
2   mars.pdf  Mars\nMars, the fourth planet from the Sun, is...
3   mars.pdf  Basic facts about Mars:\nÂ· Distance from the S...
4  earth.pdf  Solar System\nOur solar system is a vast and f...
5  earth.pdf  Solar System\nFor more details about our Solar...
6  earth.pdf  Earth\nEarth is the third planet from the Sun....
7  earth.pdf  Earth\nBasic facts about Earth:\nÂ· Distance fr...

In [17]:
for f in output_df['filename'].unique():
    print ('==========' , f, '===========')
    chunks = output_df[output_df['filename'] == f]['contents']
    for idx , chunk in enumerate(chunks):
        print (f'-------Chunk {idx}------\n{chunk}\n-------')

========== mars.pdf ===========
-------Chunk 0------
Solar System
Our solar system is a vast and fascinating expanse, comprising eight planets, five dwarf planets, numerous moons, asteroids, comets, and other celestial bodies. At its center lies the star we call the Sun.
-------
-------Chunk 1------
Solar System
For more details about the Solar system see Chapter 1.
-------
-------Chunk 2------
Mars
Mars, the fourth planet from the Sun, is a cold, desert world with a thin atmosphere composed primarily of carbon dioxide. Its reddish hue comes from iron oxide, or rust, prevalent on its surface.
-------
-------Chunk 3------
Basic facts about Mars:
Â· Distance from the Sun: Average of 228 million kilometers (142 million miles)
Â· Rotation Period: 24.6 hours (one Martian day - called a "sol")
Â· Moons: Two small moons, Phobos and Deimos.
-------
========== earth.pdf ===========
-------Chunk 0------
Solar System
Our solar system is a vast and fascinating expanse, comprising eight planets, five dwarf planets, numerous moons, asteroids, comets, and other celestial bodies. At its center lies the star we call the Sun.
-------
-------Chunk 1------
Solar System
For more details about our Solar system see Chapter 1.
-------
-------Chunk 2------
Earth
Earth is the third planet from the Sun. It's our home planet. Earth is the only place we know of with life.
-------
-------Chunk 3------
Earth
Basic facts about Earth:
Â· Distance from the Sun: Average of 149.6 million kilometers (93 million miles)
Â· Rotation Period: 24 hours (one day)
Â· Moons: One moon, called Luna or simply "the Moon".
-------

## Step-5:  DOC ID generation

This transform annotates documents with document "ids". It supports the following transformations of the original data:

 - Adding document hash: this enables the addition of a document hash-based id to the data. The hash is calculated with `hashlib.sha256(doc.encode("utf-8")).hexdigest()`. To enable this annotation, set **hash_column** to the name of the column, where you want to store it.
 - Adding integer document id: this allows the addition of an integer document id to the data that is unique across all rows in all tables provided to the transform() method. To enable this annotation, set **int_id_column** to the name of the column, where you want to store it.

**This is a pre-requisite for fuzzy dedup** in the pipeline.

### 5.1 - Set Input/output Folder

In [18]:

# Input for this stage is the output of exact dedeup component
# output of this component makes it possible for fdedup component to run on data.

STAGE  = 3

input_folder = output_chunk_dir
output_folder =  output_docid_dir

input_df = read_parquet_files_as_df(input_folder)  ## for debug purposes

print (f"ðŸƒðŸ¼ STAGE-{STAGE}: Processing input='{input_folder}' --> output='{output_folder}'")

ðŸƒðŸ¼ STAGE-3: Processing input='output/02_chunk_out' --> output='output/03_docid_out'

### 5.2 - Execute

In [19]:
%%time

from data_processing_ray.runtime.ray import RayTransformLauncher
from doc_id_transform_ray import DocIDRayTransformRuntimeConfiguration

local_conf = {
    "input_folder": input_folder,
    "output_folder": output_folder,
}
worker_options = {"num_cpus" : MY_CONFIG.RAY_NUM_CPUS}
params = {
    # where to run
    "run_locally": True,
    # Data access. Only required parameters are specified
    "data_local_config": ParamsUtils.convert_to_ast(local_conf),
    # orchestrator
    "runtime_worker_options": ParamsUtils.convert_to_ast(worker_options),
    "runtime_num_workers": MY_CONFIG.RAY_RUNTIME_WORKERS,
    # doc id configuration
    "doc_id_doc_column": "contents",
    "doc_id_hash_column": "chunk_hash",
    "doc_id_int_column": "chunk_id",
}
sys.argv = ParamsUtils.dict_to_req(d=params)

# launch

launcher = RayTransformLauncher(DocIDRayTransformRuntimeConfiguration())

return_code = launcher.launch()

if return_code == 0:
    print (f"âœ… Stage:{STAGE} completed successfully")
else:
    raise Exception ("âŒ Ray job failed")

23:14:55 INFO - Running locally
23:14:55 INFO - Doc id parameters are : {'doc_column': 'contents', 'hash_column': 'chunk_hash', 'int_column': 'chunk_id', 'start_id': 0}
23:14:55 INFO - data factory data_ is using local data access: input_folder - output/02_chunk_out output_folder - output/03_docid_out
23:14:55 INFO - data factory data_ max_files -1, n_sample -1
23:14:55 INFO - data factory data_ Not using data sets, checkpointing False, max files -1, random samples -1, files to use ['.parquet'], files to checkpoint ['.parquet']
23:14:55 INFO - pipeline id pipeline_id
23:14:55 INFO - code location None
23:14:55 INFO - number of workers 2 worker options {'num_cpus': 1, 'max_restarts': -1}
23:14:55 INFO - actor creation delay 0
23:14:55 INFO - job details {'job category': 'preprocessing', 'job name': 'doc_id', 'job type': 'ray', 'job id': 'job_id'}
2024-09-25 23:14:57,188	INFO worker.py:1744 -- Started a local Ray instance. View the dashboard at http://127.0.0.1:8265
(orchestrate pid=816324) 23:14:58 INFO - orchestrator started at 2024-09-25 23:14:58
(orchestrate pid=816324) 23:14:58 INFO - Number of files is 2, source profile {'max_file_size': 0.008135795593261719, 'min_file_size': 0.008058547973632812, 'total_file_size': 0.01619434356689453}
(orchestrate pid=816324) 23:14:58 INFO - Cluster resources: {'cpus': 16, 'gpus': 1, 'memory': 9.523123170249164, 'object_store': 4.761561583727598}
(orchestrate pid=816324) 23:14:58 INFO - Number of workers - 2 with {'num_cpus': 1, 'max_restarts': -1} each
(orchestrate pid=816324) 23:14:58 INFO - Completed 0 files (0.0%)  in 0.0 min. Waiting for completion
(orchestrate pid=816324) 23:14:58 INFO - Completed processing 2 files in 0.012 min
(orchestrate pid=816324) 23:14:58 INFO - done flushing in 0.001 sec
23:15:08 INFO - Completed execution in 0.227 min, execution result 0

âœ… Stage:3 completed successfully
CPU times: user 126 ms, sys: 153 ms, total: 278 ms
Wall time: 15.1 s

### 5.3 - Inspect Generated output

You will notice we have two extra columns

- **hash_column**
- **int_id_column**

But still the same number or rows as before

In [20]:
from utils import read_parquet_files_as_df

output_df = read_parquet_files_as_df(output_folder)

print ("Input data dimensions (rows x columns)= ", input_df.shape)
print ("Output data dimensions (rows x columns)= ", output_df.shape)

output_df.head(10)

Input data dimensions (rows x columns)=  (8, 15)
Output data dimensions (rows x columns)=  (8, 17)

,filename,num_pages,num_tables,num_doc_elements,document_id,ext,hash,size,date_acquired,pdf_convert_time,source_filename,contents,doc_jsonpath,page_number,bbox,chunk_hash,chunk_id
0,mars.pdf,1,0,11,38534584-f81e-48a9-a3bb-e82633092b37,pdf,8edd5dfbf888777120b528a5d8998f2757d006df0eaef7...,2800,2024-09-25T23:14:25.456154,1.914529,mars.pdf,Solar System\nOur solar system is a vast and f...,$.main-text[2],1,"[132.84518433, 588.96014404, 479.40917969, 623...",44c6e373258c7cdc03f75a8e96a9b160f9aa4e4baf5674...,0
1,mars.pdf,1,0,11,38534584-f81e-48a9-a3bb-e82633092b37,pdf,8edd5dfbf888777120b528a5d8998f2757d006df0eaef7...,2800,2024-09-25T23:14:25.456154,1.914529,mars.pdf,Solar System\nFor more details about the Solar...,$.main-text[3],1,"[133.18510437, 570.83258057, 374.99838257, 581...",dee4c03474c98efdabbadbcc4ce91138c7820f4ac8ff07...,1
2,mars.pdf,1,0,11,38534584-f81e-48a9-a3bb-e82633092b37,pdf,8edd5dfbf888777120b528a5d8998f2757d006df0eaef7...,2800,2024-09-25T23:14:25.456154,1.914529,mars.pdf,"Mars\nMars, the fourth planet from the Sun, is...",$.main-text[5],1,"[132.87440491, 500.84011841, 477.48345947, 534...",a31663e06fac41470ecc459f5a58658a3f9997d7801053...,2
3,mars.pdf,1,0,11,38534584-f81e-48a9-a3bb-e82633092b37,pdf,8edd5dfbf888777120b528a5d8998f2757d006df0eaef7...,2800,2024-09-25T23:14:25.456154,1.914529,mars.pdf,Basic facts about Mars:\nÂ· Distance from the S...,$.main-text[6],1,"[133.2026062, 482.90710449, 237.04431152, 493....",7ff317954ec5f3b15607c053c30c2b0db0f6b64cc3295a...,3
4,earth.pdf,1,0,11,76eb51a9-4002-467a-8f41-e17416289c17,pdf,18713f970989055625bef22209b6f4b6830b9ca22046bf...,2686,2024-09-25T23:14:25.396695,1.983063,earth.pdf,Solar System\nOur solar system is a vast and f...,$.main-text[2],1,"[132.87112427, 588.96014404, 479.40917969, 623...",44c6e373258c7cdc03f75a8e96a9b160f9aa4e4baf5674...,4
5,earth.pdf,1,0,11,76eb51a9-4002-467a-8f41-e17416289c17,pdf,18713f970989055625bef22209b6f4b6830b9ca22046bf...,2686,2024-09-25T23:14:25.396695,1.983063,earth.pdf,Solar System\nFor more details about our Solar...,$.main-text[3],1,"[133.20942688, 570.81555176, 375.57919312, 581...",d7be13d7dee96cf2384072d0eb01981e0e75eec2e7bc6d...,5
6,earth.pdf,1,0,11,76eb51a9-4002-467a-8f41-e17416289c17,pdf,18713f970989055625bef22209b6f4b6830b9ca22046bf...,2686,2024-09-25T23:14:25.396695,1.983063,earth.pdf,Earth\nEarth is the third planet from the Sun....,$.main-text[5],1,"[132.91053772, 512.46295166, 477.84887695, 534...",7c4a750e2215f231803a6f8078bde1e9699034fb033dd3...,6
7,earth.pdf,1,0,11,76eb51a9-4002-467a-8f41-e17416289c17,pdf,18713f970989055625bef22209b6f4b6830b9ca22046bf...,2686,2024-09-25T23:14:25.396695,1.983063,earth.pdf,Earth\nBasic facts about Earth:\nÂ· Distance fr...,$.main-text[6],1,"[133.30151367, 494.86206055, 240.17156982, 505...",189a221704d17feeb96b1b1ef60a2a2445459848cd8e8f...,7

## Step-6: Exact Dedup

### 6.1 - Set Input/output Folder

In [21]:
STAGE  = 4

input_folder = output_docid_dir # previous output folder is the input folder for the current stage
output_folder =  output_exact_dedupe_dir

input_df = read_parquet_files_as_df(input_folder)  ## for debug purposes

print (f"ðŸƒðŸ¼ STAGE-{STAGE}: Processing input='{input_folder}' --> output='{output_folder}'")

ðŸƒðŸ¼ STAGE-4: Processing input='output/03_docid_out' --> output='output/04_exact_dedupe_out'

### 6.2 - Execute

In [22]:
%%time

from data_processing_ray.runtime.ray import RayTransformLauncher
from ededup_transform_ray import EdedupRayTransformRuntimeConfiguration


# Prepare the commandline params
local_conf = {
    "input_folder": input_folder,
    "output_folder": output_folder,
}
worker_options = {"num_cpus" : MY_CONFIG.RAY_NUM_CPUS}
params = {
    # where to run
    "run_locally": True,
    # Data access. Only required parameters are specified
    "data_local_config": ParamsUtils.convert_to_ast(local_conf),
    # orchestrator
    "runtime_worker_options": ParamsUtils.convert_to_ast(worker_options),
    "runtime_num_workers": MY_CONFIG.RAY_RUNTIME_WORKERS,
    # ededup parameters
    "ededup_hash_cpu": 0.5,
    "ededup_num_hashes": 2,
    "ededup_doc_column": "contents",
    "ededup_doc_id_column": "chunk_hash",
}

# Pass the commandline params
sys.argv = ParamsUtils.dict_to_req(d=params)

# create launcher
launcher = RayTransformLauncher(EdedupRayTransformRuntimeConfiguration())
# launch
return_code = launcher.launch()

if return_code == 0:
    print (f"âœ… Stage:{STAGE} completed successfully")
else:
    raise Exception ("âŒ Ray job failed")

23:15:10 INFO - Running locally
23:15:10 INFO - exact dedup params are {'doc_column': 'contents', 'doc_id_column': 'chunk_hash', 'use_snapshot': False, 'snapshot_directory': None, 'hash_cpu': 0.5, 'num_hashes': 2}
23:15:10 INFO - data factory data_ is using local data access: input_folder - output/03_docid_out output_folder - output/04_exact_dedupe_out
23:15:10 INFO - data factory data_ max_files -1, n_sample -1
23:15:10 INFO - data factory data_ Not using data sets, checkpointing False, max files -1, random samples -1, files to use ['.parquet'], files to checkpoint ['.parquet']
23:15:10 INFO - pipeline id pipeline_id
23:15:10 INFO - code location None
23:15:10 INFO - number of workers 2 worker options {'num_cpus': 1, 'max_restarts': -1}
23:15:10 INFO - actor creation delay 0
23:15:10 INFO - job details {'job category': 'preprocessing', 'job name': 'ededup', 'job type': 'ray', 'job id': 'job_id'}
2024-09-25 23:15:12,344	INFO worker.py:1744 -- Started a local Ray instance. View the dashboard at http://127.0.0.1:8265
(orchestrate pid=817893) 23:15:13 INFO - orchestrator started at 2024-09-25 23:15:13
(orchestrate pid=817893) 23:15:13 INFO - Number of files is 2, source profile {'max_file_size': 0.009340286254882812, 'min_file_size': 0.0092620849609375, 'total_file_size': 0.018602371215820312}
(orchestrate pid=817893) 23:15:13 INFO - Cluster resources: {'cpus': 16, 'gpus': 1, 'memory': 9.52822494506836, 'object_store': 4.76411247253418}
(orchestrate pid=817893) 23:15:13 INFO - Number of workers - 2 with {'num_cpus': 1, 'max_restarts': -1} each
(orchestrate pid=817893) 23:15:13 INFO - Completed 0 files (0.0%)  in 0.0 min. Waiting for completion
(orchestrate pid=817893) 23:15:14 INFO - Completed processing 2 files in 0.013 min
(orchestrate pid=817893) 23:15:14 INFO - done flushing in 0.001 sec
23:15:24 INFO - Completed execution in 0.229 min, execution result 0

âœ… Stage:4 completed successfully
CPU times: user 125 ms, sys: 145 ms, total: 270 ms
Wall time: 15.2 s

### 6.3 - Inspect Generated output

In [23]:
from utils import read_parquet_files_as_df

output_df = read_parquet_files_as_df(output_folder)

print ("Input data dimensions (rows x columns)= ", input_df.shape)
print ("Output data dimensions (rows x columns)= ", output_df.shape)
print (f"Input chunks before exact dedupe : {input_df.shape[0]:,}")
print (f"Output chunks after exact dedupe : {output_df.shape[0]:,}")
print ("Duplicate chunks removed :  ", (input_df.shape[0] - output_df.shape[0]))

output_df.head(10)

Input data dimensions (rows x columns)=  (8, 17)
Output data dimensions (rows x columns)=  (7, 18)
Input chunks before exact dedupe : 8
Output chunks after exact dedupe : 7
Duplicate chunks removed :   1

,filename,num_pages,num_tables,num_doc_elements,document_id,ext,hash,size,date_acquired,pdf_convert_time,source_filename,contents,doc_jsonpath,page_number,bbox,chunk_hash,chunk_id,removed
0,mars.pdf,1,0,11,38534584-f81e-48a9-a3bb-e82633092b37,pdf,8edd5dfbf888777120b528a5d8998f2757d006df0eaef7...,2800,2024-09-25T23:14:25.456154,1.914529,mars.pdf,Solar System\nFor more details about the Solar...,$.main-text[3],1,"[133.18510437, 570.83258057, 374.99838257, 581...",dee4c03474c98efdabbadbcc4ce91138c7820f4ac8ff07...,1,[44c6e373258c7cdc03f75a8e96a9b160f9aa4e4baf567...
1,mars.pdf,1,0,11,38534584-f81e-48a9-a3bb-e82633092b37,pdf,8edd5dfbf888777120b528a5d8998f2757d006df0eaef7...,2800,2024-09-25T23:14:25.456154,1.914529,mars.pdf,"Mars\nMars, the fourth planet from the Sun, is...",$.main-text[5],1,"[132.87440491, 500.84011841, 477.48345947, 534...",a31663e06fac41470ecc459f5a58658a3f9997d7801053...,2,[]
2,mars.pdf,1,0,11,38534584-f81e-48a9-a3bb-e82633092b37,pdf,8edd5dfbf888777120b528a5d8998f2757d006df0eaef7...,2800,2024-09-25T23:14:25.456154,1.914529,mars.pdf,Basic facts about Mars:\nÂ· Distance from the S...,$.main-text[6],1,"[133.2026062, 482.90710449, 237.04431152, 493....",7ff317954ec5f3b15607c053c30c2b0db0f6b64cc3295a...,3,[]
3,earth.pdf,1,0,11,76eb51a9-4002-467a-8f41-e17416289c17,pdf,18713f970989055625bef22209b6f4b6830b9ca22046bf...,2686,2024-09-25T23:14:25.396695,1.983063,earth.pdf,Solar System\nOur solar system is a vast and f...,$.main-text[2],1,"[132.87112427, 588.96014404, 479.40917969, 623...",44c6e373258c7cdc03f75a8e96a9b160f9aa4e4baf5674...,4,[]
4,earth.pdf,1,0,11,76eb51a9-4002-467a-8f41-e17416289c17,pdf,18713f970989055625bef22209b6f4b6830b9ca22046bf...,2686,2024-09-25T23:14:25.396695,1.983063,earth.pdf,Solar System\nFor more details about our Solar...,$.main-text[3],1,"[133.20942688, 570.81555176, 375.57919312, 581...",d7be13d7dee96cf2384072d0eb01981e0e75eec2e7bc6d...,5,[]
5,earth.pdf,1,0,11,76eb51a9-4002-467a-8f41-e17416289c17,pdf,18713f970989055625bef22209b6f4b6830b9ca22046bf...,2686,2024-09-25T23:14:25.396695,1.983063,earth.pdf,Earth\nEarth is the third planet from the Sun....,$.main-text[5],1,"[132.91053772, 512.46295166, 477.84887695, 534...",7c4a750e2215f231803a6f8078bde1e9699034fb033dd3...,6,[]
6,earth.pdf,1,0,11,76eb51a9-4002-467a-8f41-e17416289c17,pdf,18713f970989055625bef22209b6f4b6830b9ca22046bf...,2686,2024-09-25T23:14:25.396695,1.983063,earth.pdf,Earth\nBasic facts about Earth:\nÂ· Distance fr...,$.main-text[6],1,"[133.30151367, 494.86206055, 240.17156982, 505...",189a221704d17feeb96b1b1ef60a2a2445459848cd8e8f...,7,[]

In [24]:
output_df[['filename', 'contents']]

    filename                                           contents
0   mars.pdf  Solar System\nFor more details about the Solar...
1   mars.pdf  Mars\nMars, the fourth planet from the Sun, is...
2   mars.pdf  Basic facts about Mars:\nÂ· Distance from the S...
3  earth.pdf  Solar System\nOur solar system is a vast and f...
4  earth.pdf  Solar System\nFor more details about our Solar...
5  earth.pdf  Earth\nEarth is the third planet from the Sun....
6  earth.pdf  Earth\nBasic facts about Earth:\nÂ· Distance fr...

In [25]:
for f in output_df['filename'].unique():
    print ('==========' , f, '===========')
    chunks = output_df[output_df['filename'] == f]['contents']
    for idx , chunk in enumerate(chunks):
        print (f'-------Chunk {idx}------\n{chunk}\n-------')

========== mars.pdf ===========
-------Chunk 0------
Solar System
For more details about the Solar system see Chapter 1.
-------
-------Chunk 1------
Mars
Mars, the fourth planet from the Sun, is a cold, desert world with a thin atmosphere composed primarily of carbon dioxide. Its reddish hue comes from iron oxide, or rust, prevalent on its surface.
-------
-------Chunk 2------
Basic facts about Mars:
Â· Distance from the Sun: Average of 228 million kilometers (142 million miles)
Â· Rotation Period: 24.6 hours (one Martian day - called a "sol")
Â· Moons: Two small moons, Phobos and Deimos.
-------
========== earth.pdf ===========
-------Chunk 0------
Solar System
Our solar system is a vast and fascinating expanse, comprising eight planets, five dwarf planets, numerous moons, asteroids, comets, and other celestial bodies. At its center lies the star we call the Sun.
-------
-------Chunk 1------
Solar System
For more details about our Solar system see Chapter 1.
-------
-------Chunk 2------
Earth
Earth is the third planet from the Sun. It's our home planet. Earth is the only place we know of with life.
-------
-------Chunk 3------
Earth
Basic facts about Earth:
Â· Distance from the Sun: Average of 149.6 million kilometers (93 million miles)
Â· Rotation Period: 24 hours (one day)
Â· Moons: One moon, called Luna or simply "the Moon".
-------

### 6.4 - Understanding the output

Remember we had 8 chunks initially.  Now we have 7!  One duplicate chunk is removed.

If you look at the PDF, the following common paragraph in `earth.pdf` and `mars.pdf`  is removed from one of the documents!  Pretty neat, eh!

```text
## Solar System

Our solar system is a vast and fascinating expanse, comprising eight planets, five dwarf planets, numerous moons, asteroids, comets, and other celestial bodies. At its center lies the star we call the Sun.
```

## Step-7: Fuzzy Dedup

Post exact deduplication, fuzzy deduplication is applied with the goal of removing code files that may have **slight variations** and thereby unbiasing
the data further.

Small variations are quite commonly seen in code data in the form of variations in the values of variables, addittion of logging statements etc.

### 7.1 - Set Input/output Folder

In [26]:
## Input to this component is the output of doc_id generator component.

STAGE  = 5

input_folder = output_docid_dir # previous output folder is the input folder for the current stage
output_folder =  output_fuzzy_dedupe_dir

input_df = read_parquet_files_as_df(input_folder)  ## for debug purposes

print (f"ðŸƒðŸ¼ STAGE-{STAGE}: Processing input='{input_folder}' --> output='{output_folder}'")

ðŸƒðŸ¼ STAGE-5: Processing input='output/03_docid_out' --> output='output/05_fuzzy_dedupe_out'

### 7.2 - Execute

In [27]:
%%time

import os
import sys

from data_processing.utils import ParamsUtils
from fdedup_transform_ray import FdedupRayTransformConfiguration
from data_processing_ray.runtime.ray import RayTransformLauncher

# create parameters

local_conf = {
    "input_folder": input_folder,
    "output_folder": output_folder,
}
worker_options = {"num_cpus" : MY_CONFIG.RAY_NUM_CPUS}
code_location = {"github": "github", "commit_hash": "12345", "path": "path"}
params = {
    # where to run
    "run_locally": True,
    # Data access. Only required parameters are specified
    "data_local_config": ParamsUtils.convert_to_ast(local_conf),
    # Orchestration parameters
    "runtime_worker_options": ParamsUtils.convert_to_ast(worker_options),
    "runtime_num_workers": MY_CONFIG.RAY_RUNTIME_WORKERS,
    # columns used
    "fdedup_doc_column": "contents",
    "fdedup_id_column": "chunk_id",
    "fdedup_cluster_column": "chunk_hash",
    # infrastructure
    "fdedup_bucket_cpu": 0.3,
    "fdedup_doc_cpu": 0.3,
    "fdedup_mhash_cpu": 0.3,
    "fdedup_num_doc_actors": 1,
    "fdedup_num_bucket_actors": 1,
    "fdedup_num_minhash_actors": 1,
    "fdedup_num_preprocessors": 1,
    # fuzzy parameters
    "fdedup_num_permutations": 64,
    "fdedup_threshold": 0.7, # (default 0.8)
    "fdedup_shingles_size": 5,
    "fdedup_delimiters": " "
}

# Pass commandline params
sys.argv = ParamsUtils.dict_to_req(d=params)

# launch

launcher = RayTransformLauncher(FdedupRayTransformConfiguration())

return_code = launcher.launch()

if return_code == 0:
    print (f"âœ… Stage:{STAGE} completed successfully")
else:
    raise Exception ("âŒ Ray job failed")

23:15:25 INFO - Running locally
23:15:25 INFO - fuzzy dedup params are {'doc_column': 'contents', 'id_column': 'chunk_id', 'cluster_column': 'chunk_hash', 'bucket_cpu': 0.3, 'mhash_cpu': 0.3, 'doc_cpu': 0.3, 'num_doc_actors': 1, 'num_minhash_actors': 1, 'num_bucket_actors': 1, 'num_preprocessors': 1, 'num_permutations': 64, 'threshold': 0.7, 'shingles_size': 5, 'delimiters': ' ', 'snapshot_delay': 1, 'use_bucket_snapshot': False, 'use_doc_snapshot': False, 'random_delay_limit': 10, 'worker_options': {'num_cpus': 1}}
23:15:25 INFO - data factory data_ is using local data access: input_folder - output/03_docid_out output_folder - output/05_fuzzy_dedupe_out
23:15:25 INFO - data factory data_ max_files -1, n_sample -1
23:15:25 INFO - data factory data_ Not using data sets, checkpointing False, max files -1, random samples -1, files to use ['.parquet'], files to checkpoint ['.parquet']
23:15:25 INFO - pipeline id pipeline_id
23:15:25 INFO - code location None
23:15:25 INFO - number of workers 2 worker options {'num_cpus': 1, 'max_restarts': -1}
23:15:25 INFO - actor creation delay 0
23:15:25 INFO - job details {'job category': 'preprocessing', 'job name': 'fdedup', 'job type': 'ray', 'job id': 'job_id'}
2024-09-25 23:15:27,573	INFO worker.py:1744 -- Started a local Ray instance. View the dashboard at http://127.0.0.1:8265
(orchestrate pid=819509) 23:15:28 INFO - orchestrator started at 2024-09-25 23:15:28
(orchestrate pid=819509) 23:15:28 INFO - Number of files is 2, source profile {'max_file_size': 0.009340286254882812, 'min_file_size': 0.0092620849609375, 'total_file_size': 0.018602371215820312}
(orchestrate pid=819509) 23:15:28 INFO - Cluster resources: {'cpus': 16, 'gpus': 1, 'memory': 9.518387604504824, 'object_store': 4.759193801321089}
(orchestrate pid=819509) 23:15:28 INFO - Number of workers - 2 with {'num_cpus': 1, 'max_restarts': -1} each
(orchestrate pid=819509) 23:15:28 INFO - starting run from the beginning
(orchestrate pid=819509) 23:15:28 INFO - continuing from the very beginning
(orchestrate pid=819509) 23:15:28 INFO - Fuzzy: num buckets 8, bucket length 8
(orchestrate pid=819509) 23:15:28 INFO - created 1 bucket actors
(orchestrate pid=819509) 23:15:28 INFO - created 1 minhash actors
(orchestrate pid=819509) 23:15:28 INFO - Table preprocessing uses 1 readers
(orchestrate pid=819509) 23:15:28 INFO - created 1 table processor actors
(orchestrate pid=819509) 23:15:34 INFO - Completed 1 files in 0.097 min
(orchestrate pid=819509) 23:15:34 INFO - Completed 1 files (50.0%)  in 0.097 min. Waiting for completion
(orchestrate pid=819509) 23:15:39 INFO - Completed processing 2 files in 0.181 min
(orchestrate pid=819509) 23:15:39 INFO - creating minhash snapshots
(orchestrate pid=819509) 23:15:40 INFO - minhash snapshots created
(orchestrate pid=819509) 23:15:40 INFO - creating bucket snapshots
(orchestrate pid=819509) 23:15:41 INFO - bucket snapshots created
(orchestrate pid=819509) 23:15:41 INFO - created 1 document actors
(orchestrate pid=819509) 23:15:41 INFO - created 1 bucket processor actors
(orchestrate pid=819509) 23:15:41 INFO - created bucket processor invoker
(orchestrate pid=819509) 23:15:41 INFO - added invoker to bucket collectors
(BucketsHash pid=820343) 23:15:41 INFO - processing buckets 0 long, 53 short
(BucketsHash pid=820343) 23:15:41 INFO - Done submitting long buckets
(BucketsHashProcessorInvoker pid=820899) 23:15:42 INFO - Waiting bucket processing completion. Submitted requests 1
(orchestrate pid=819509) 23:15:42 INFO - Done processing buckets in 0.01 min
(orchestrate pid=819509) 23:15:42 INFO - creating document snapshots
(orchestrate pid=819509) 23:15:43 INFO - document snapshots created
(orchestrate pid=819509) 23:15:43 INFO - Completed 0 files (0.0%)  in 0.0 min. Waiting for completion
(orchestrate pid=819509) 23:15:47 INFO - Completed processing 2 files in 0.064 min
(orchestrate pid=819509) 23:15:47 INFO - done flushing in 0.001 sec
23:15:57 INFO - Completed execution in 0.521 min, execution result 0

âœ… Stage:5 completed successfully
CPU times: user 191 ms, sys: 174 ms, total: 365 ms
Wall time: 32.6 s

### 7.3 - Inspect Generated output

In [28]:
from utils import read_parquet_files_as_df

output_df = read_parquet_files_as_df(output_folder)

print ("Input data dimensions (rows x columns)= ", input_df.shape)
print ("Output data dimensions (rows x columns)= ", output_df.shape)
print ("Duplicate chunks removed  by fuzzy-dedupe:  ", (input_df.shape[0] - output_df.shape[0]))

output_df.head(10)

Input data dimensions (rows x columns)=  (8, 17)
Output data dimensions (rows x columns)=  (6, 17)
Duplicate chunks removed  by fuzzy-dedupe:   2

,filename,num_pages,num_tables,num_doc_elements,document_id,ext,hash,size,date_acquired,pdf_convert_time,source_filename,contents,doc_jsonpath,page_number,bbox,chunk_id,chunk_hash
0,mars.pdf,1,0,11,38534584-f81e-48a9-a3bb-e82633092b37,pdf,8edd5dfbf888777120b528a5d8998f2757d006df0eaef7...,2800,2024-09-25T23:14:25.456154,1.914529,mars.pdf,Solar System\nOur solar system is a vast and f...,$.main-text[2],1,"[132.84518433, 588.96014404, 479.40917969, 623...",0,4
1,mars.pdf,1,0,11,38534584-f81e-48a9-a3bb-e82633092b37,pdf,8edd5dfbf888777120b528a5d8998f2757d006df0eaef7...,2800,2024-09-25T23:14:25.456154,1.914529,mars.pdf,Solar System\nFor more details about the Solar...,$.main-text[3],1,"[133.18510437, 570.83258057, 374.99838257, 581...",1,5
2,mars.pdf,1,0,11,38534584-f81e-48a9-a3bb-e82633092b37,pdf,8edd5dfbf888777120b528a5d8998f2757d006df0eaef7...,2800,2024-09-25T23:14:25.456154,1.914529,mars.pdf,"Mars\nMars, the fourth planet from the Sun, is...",$.main-text[5],1,"[132.87440491, 500.84011841, 477.48345947, 534...",2,-1
3,mars.pdf,1,0,11,38534584-f81e-48a9-a3bb-e82633092b37,pdf,8edd5dfbf888777120b528a5d8998f2757d006df0eaef7...,2800,2024-09-25T23:14:25.456154,1.914529,mars.pdf,Basic facts about Mars:\nÂ· Distance from the S...,$.main-text[6],1,"[133.2026062, 482.90710449, 237.04431152, 493....",3,-1
4,earth.pdf,1,0,11,76eb51a9-4002-467a-8f41-e17416289c17,pdf,18713f970989055625bef22209b6f4b6830b9ca22046bf...,2686,2024-09-25T23:14:25.396695,1.983063,earth.pdf,Earth\nEarth is the third planet from the Sun....,$.main-text[5],1,"[132.91053772, 512.46295166, 477.84887695, 534...",6,-1
5,earth.pdf,1,0,11,76eb51a9-4002-467a-8f41-e17416289c17,pdf,18713f970989055625bef22209b6f4b6830b9ca22046bf...,2686,2024-09-25T23:14:25.396695,1.983063,earth.pdf,Earth\nBasic facts about Earth:\nÂ· Distance fr...,$.main-text[6],1,"[133.30151367, 494.86206055, 240.17156982, 505...",7,-1

In [29]:
output_df[['filename', 'contents']]

    filename                                           contents
0   mars.pdf  Solar System\nOur solar system is a vast and f...
1   mars.pdf  Solar System\nFor more details about the Solar...
2   mars.pdf  Mars\nMars, the fourth planet from the Sun, is...
3   mars.pdf  Basic facts about Mars:\nÂ· Distance from the S...
4  earth.pdf  Earth\nEarth is the third planet from the Sun....
5  earth.pdf  Earth\nBasic facts about Earth:\nÂ· Distance fr...

In [30]:
for f in output_df['filename'].unique():
    print ('==========' , f, '===========')
    chunks = output_df[output_df['filename'] == f]['contents']
    for idx , chunk in enumerate(chunks):
        print (f'-------Chunk {idx}------\n{chunk}\n-------')

========== mars.pdf ===========
-------Chunk 0------
Solar System
Our solar system is a vast and fascinating expanse, comprising eight planets, five dwarf planets, numerous moons, asteroids, comets, and other celestial bodies. At its center lies the star we call the Sun.
-------
-------Chunk 1------
Solar System
For more details about the Solar system see Chapter 1.
-------
-------Chunk 2------
Mars
Mars, the fourth planet from the Sun, is a cold, desert world with a thin atmosphere composed primarily of carbon dioxide. Its reddish hue comes from iron oxide, or rust, prevalent on its surface.
-------
-------Chunk 3------
Basic facts about Mars:
Â· Distance from the Sun: Average of 228 million kilometers (142 million miles)
Â· Rotation Period: 24.6 hours (one Martian day - called a "sol")
Â· Moons: Two small moons, Phobos and Deimos.
-------
========== earth.pdf ===========
-------Chunk 0------
Earth
Earth is the third planet from the Sun. It's our home planet. Earth is the only place we know of with life.
-------
-------Chunk 1------
Earth
Basic facts about Earth:
Â· Distance from the Sun: Average of 149.6 million kilometers (93 million miles)
Â· Rotation Period: 24 hours (one day)
Â· Moons: One moon, called Luna or simply "the Moon".
-------

### 7.4- Understanding the output

So we started with 7 rows and ended up with 6.  Fuzzy dedupe removed the following **very similar** chunk.

These are pretty similar chunks except for the words 'the' and 'our'

**earth.pdf**

`For more details about *our* Solar system see Chapter 1.`

**mars.pdf**

`For more details about *the* Solar system see Chapter 1.`

Pretty neat, eh? ðŸ‘

### Configuring Fuzzy de-dupe

You can tweak fuzzy dedupe by tweaking the following parameters

```python
# fuzzy parameters
    "fdedup_num_permutations": 64,
    "fdedup_threshold": 0.7, #  (default 0.8)
    "fdedup_shingles_size": 5,
    "fdedup_delimiters": " "
```

In our case, we set `fdedup_threshold` parameter to 0.7.

## Step-8:   Text encoding

Encode text for the vector storage.

### 8.1 - Set Input/output Folder

In [31]:
STAGE  = 6

input_folder = output_fuzzy_dedupe_dir # previous output folder is the input folder for the current stage
output_folder =  output_embeddings_dir

input_df = read_parquet_files_as_df(input_folder)  ## for debug purposes

print (f"ðŸƒðŸ¼ STAGE-{STAGE}: Processing input='{input_folder}' --> output='{output_folder}'")

ðŸƒðŸ¼ STAGE-6: Processing input='output/05_fuzzy_dedupe_out' --> output='output/06_embeddings_out'

### 8.2 - Execute

In [32]:
%%time

from text_encoder_transform_ray import TextEncoderRayTransformConfiguration

local_conf = {
    "input_folder": input_folder,
    "output_folder": output_folder,
}
worker_options = {"num_cpus" : MY_CONFIG.RAY_NUM_CPUS}
params = {
    # where to run
    "run_locally": True,
    # Data access. Only required parameters are specified
    "data_local_config": ParamsUtils.convert_to_ast(local_conf),
    # orchestrator
    "runtime_worker_options": ParamsUtils.convert_to_ast(worker_options),
    "runtime_num_workers": MY_CONFIG.RAY_RUNTIME_WORKERS,
    # text_encoder
    "text_encoder_model_name": MY_CONFIG.EMBEDDING_MODEL,
}

sys.argv = ParamsUtils.dict_to_req(d=params)
# create launcher
launcher = RayTransformLauncher(TextEncoderRayTransformConfiguration())
# Launch the ray actor(s) to process the input

return_code = launcher.launch()

if return_code == 0:
    print (f"âœ… Stage:{STAGE} completed successfully")
else:
    raise Exception ("âŒ Ray job failed")

23:15:59 INFO - Running locally
23:15:59 INFO - text_encoder parameters are : {'content_column_name': 'contents', 'output_embeddings_column_name': 'embeddings', 'model_name': 'sentence-transformers/all-MiniLM-L6-v2'}
23:15:59 INFO - data factory data_ is using local data access: input_folder - output/05_fuzzy_dedupe_out output_folder - output/06_embeddings_out
23:15:59 INFO - data factory data_ max_files -1, n_sample -1
23:15:59 INFO - data factory data_ Not using data sets, checkpointing False, max files -1, random samples -1, files to use ['.parquet'], files to checkpoint ['.parquet']
23:15:59 INFO - pipeline id pipeline_id
23:15:59 INFO - code location None
23:15:59 INFO - number of workers 2 worker options {'num_cpus': 1, 'max_restarts': -1}
23:15:59 INFO - actor creation delay 0
23:15:59 INFO - job details {'job category': 'preprocessing', 'job name': 'text_encoder', 'job type': 'ray', 'job id': 'job_id'}
2024-09-25 23:16:00,806	INFO worker.py:1744 -- Started a local Ray instance. View the dashboard at http://127.0.0.1:8265
(orchestrate pid=821674) 23:16:03 INFO - orchestrator started at 2024-09-25 23:16:03
(orchestrate pid=821674) 23:16:03 INFO - Number of files is 2, source profile {'max_file_size': 0.008937835693359375, 'min_file_size': 0.00830841064453125, 'total_file_size': 0.017246246337890625}
(orchestrate pid=821674) 23:16:03 INFO - Cluster resources: {'cpus': 16, 'gpus': 1, 'memory': 9.502340699546039, 'object_store': 4.751170348376036}
(orchestrate pid=821674) 23:16:03 INFO - Number of workers - 2 with {'num_cpus': 1, 'max_restarts': -1} each
(orchestrate pid=821674) 23:16:03 INFO - Completed 0 files (0.0%)  in 0.0 min. Waiting for completion
(orchestrate pid=821674) 23:16:09 INFO - Completed processing 2 files in 0.095 min
(orchestrate pid=821674) 23:16:09 INFO - done flushing in 0.001 sec
23:16:19 INFO - Completed execution in 0.344 min, execution result 0

âœ… Stage:6 completed successfully
CPU times: user 579 ms, sys: 189 ms, total: 769 ms
Wall time: 22.5 s

### 8.3 - Inspect Generated output

You will see a column called `embeddings` added at the end.  This the text content converted into vectors or embeddings.  We used the model `sentence-transformers/all-MiniLM-L6-v2`

In [33]:
from utils import read_parquet_files_as_df

output_df = read_parquet_files_as_df(output_folder)

print ("Input data dimensions (rows x columns)= ", input_df.shape)
print ("Output data dimensions (rows x columns)= ", output_df.shape)

output_df.head(10)

Input data dimensions (rows x columns)=  (6, 17)
Output data dimensions (rows x columns)=  (6, 18)

,filename,num_pages,num_tables,num_doc_elements,document_id,ext,hash,size,date_acquired,pdf_convert_time,source_filename,contents,doc_jsonpath,page_number,bbox,chunk_id,chunk_hash,embeddings
0,mars.pdf,1,0,11,38534584-f81e-48a9-a3bb-e82633092b37,pdf,8edd5dfbf888777120b528a5d8998f2757d006df0eaef7...,2800,2024-09-25T23:14:25.456154,1.914529,mars.pdf,Solar System\nOur solar system is a vast and f...,$.main-text[2],1,"[132.84518433, 588.96014404, 479.40917969, 623...",0,4,"[0.0077404897, -0.020559434, 0.026426662, 0.01..."
1,mars.pdf,1,0,11,38534584-f81e-48a9-a3bb-e82633092b37,pdf,8edd5dfbf888777120b528a5d8998f2757d006df0eaef7...,2800,2024-09-25T23:14:25.456154,1.914529,mars.pdf,Solar System\nFor more details about the Solar...,$.main-text[3],1,"[133.18510437, 570.83258057, 374.99838257, 581...",1,5,"[-0.051861413, 0.0035226392, 0.030617053, 0.04..."
2,mars.pdf,1,0,11,38534584-f81e-48a9-a3bb-e82633092b37,pdf,8edd5dfbf888777120b528a5d8998f2757d006df0eaef7...,2800,2024-09-25T23:14:25.456154,1.914529,mars.pdf,"Mars\nMars, the fourth planet from the Sun, is...",$.main-text[5],1,"[132.87440491, 500.84011841, 477.48345947, 534...",2,-1,"[0.07728298, 0.024971062, -0.04318075, 0.05809..."
3,mars.pdf,1,0,11,38534584-f81e-48a9-a3bb-e82633092b37,pdf,8edd5dfbf888777120b528a5d8998f2757d006df0eaef7...,2800,2024-09-25T23:14:25.456154,1.914529,mars.pdf,Basic facts about Mars:\nÂ· Distance from the S...,$.main-text[6],1,"[133.2026062, 482.90710449, 237.04431152, 493....",3,-1,"[0.1059802, 0.025460616, 0.02362733, 0.0390564..."
4,earth.pdf,1,0,11,76eb51a9-4002-467a-8f41-e17416289c17,pdf,18713f970989055625bef22209b6f4b6830b9ca22046bf...,2686,2024-09-25T23:14:25.396695,1.983063,earth.pdf,Earth\nEarth is the third planet from the Sun....,$.main-text[5],1,"[132.91053772, 512.46295166, 477.84887695, 534...",6,-1,"[0.0724358, -0.058001805, -0.01977186, -0.0243..."
5,earth.pdf,1,0,11,76eb51a9-4002-467a-8f41-e17416289c17,pdf,18713f970989055625bef22209b6f4b6830b9ca22046bf...,2686,2024-09-25T23:14:25.396695,1.983063,earth.pdf,Earth\nBasic facts about Earth:\nÂ· Distance fr...,$.main-text[6],1,"[133.30151367, 494.86206055, 240.17156982, 505...",7,-1,"[0.091821924, 0.015197907, 0.07716932, 0.01711..."

## Step-9: Copy output to final output dir

In [34]:
import shutil

shutil.rmtree(MY_CONFIG.OUTPUT_FOLDER_FINAL, ignore_errors=True)
shutil.copytree(src=output_folder, dst=MY_CONFIG.OUTPUT_FOLDER_FINAL)

print (f"âœ… Copied output from '{output_folder}' --> '{MY_CONFIG.OUTPUT_FOLDER_FINAL}'")

âœ… Copied output from 'output/06_embeddings_out' --> 'output/output_final'